{% extends "base.html" %}
{% load static %}
{% static "images" as baseUrl %}

{% block title %}About us{% endblock %}

<!--header block -->

{% block header %}
<!-- slider starts -->

<!--team section-->
<section class="about">



<div class="center">
	<h1>Our Team</h1>
</div>

	<section class="swiper mySwiper ">

		<div class="swiper-wrapper">
			{% for t in group%}
		  <div class="card swiper-slide">
			<div class="card__image">
			  <img src="{{t.img.url}}" alt="card image">
			</div>
	
			<div class="card__content">
			  <h3 class="card__title">{{t.rank}}</h3>
			  <span class="card__name">{{t.name}}</span>
			  <div class="icons">	
				{% for s in smp %}		
					{% if s.team_member == t %}
						<a href="{{s.link}}"><i class="ri-{{s.platform}}-fill"></i></a>
					{% endif %}
				{% endfor %}
			</div>
			</div>
		  </div>
		  {% endfor %}
		</div>
	  </section>
</section>

</section>


<!--team section ends-->

<!-- logo slider starts  -->

<section class="section pricing">
	<div class="container">
		<div class="row ">
			<div class="col-lg-6">
				<div class="heading mb-50">
				<h2 class="mb-4">Companies we worked with </h2>
				<p>Dicta cupiditate, incidunt quia obcaecati itaque cumque, nostrum ipsum est voluptatibus, porro
					provident a quam quibusdam. Ducimus possimus, nesciunt minima magni aspernatur.</p>
			</div>
		</div>
	</div>

    <div class="row justify-content-center">
		{% for imgslider in imgslider %}
		<div class="col-lg-2 col-md-3 col-sm-4">
		  <div class="award-img-block mb-4 mb-lg-0">
			<div class="award-img">
			  <img src="{{imgslider.img.url}}" alt="" class="img-fluid">
			</div>
		  </div>
		</div>	
		{% endfor %}		
	  </div>
  </div>
</section>

	<!--logo slider ends -->
	

<!--slider ends -->

<!-- footer Start -->
{% block footer %}



  {% endblock %}
  {% endblock %}

