{% extends "base.html" %}
{% load static %}
{% static "images" as baseUrl %}

{% block title %}About us{% endblock %}

<!--header block -->

{% block header %}
<!-- slider starts -->


<!-- Introductory Section -->
<section class="section about">
	<div class="container">
	  <div class="row">
		<!-- Left side: Short Description -->
		<div class="col-md-6">
			<h2>We the TechIT LLC</h2>
			<p>
			  TechIT LLC is a cutting-edge technology company dedicated to delivering innovative solutions and services. Established with a passion for technology and a commitment to excellence, we strive to transform businesses through the power of digital innovation.
			</p>
			<p>
			  At TechIT LLC, we believe in harnessing the latest advancements in technology to solve complex challenges and drive growth. Our team of skilled professionals is dedicated to providing tailor-made solutions that align with the unique needs and goals of our clients.
			</p>
		  </div>
  
		<!-- Right side: Image -->
		<div class="col-md-6">
		  <img src="{% static 'images/about/intro.png' %}" alt="Intro Image" class="img-fluid">
		</div>
	  </div>
	</div>
  </section>
  
<!--team section-->
<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<div class="heading text-center">
				<h1>Team Members</h1>
			</div>
		</div>
	</div>
</div>


	<section class="swiper mySwiper ">

		<div class="swiper-wrapper">
			{% for t in group%}
		  <div class="card swiper-slide">
			<div class="card__image">
			  <img src="{{t.img.url}}" alt="card image">
			</div>
	
			<div class="card__content">
			  <h3 class="card__title">{{t.rank}}</h3>
			  <span class="card__name">{{t.name}}</span>
			  <div class="icons">	
				{% for s in smp %}		
					{% if s.team_member == t %}
						<a href="{{s.link}}"><i class="ri-{{s.platform}}-fill"></i></a>
					{% endif %}
				{% endfor %}
			</div>
			</div>
		  </div>
		  {% endfor %}
		</div>
	  </section>
</section>




<!--team section ends-->

<!-- logo slider starts  -->

<section class="section pricing">
	<div class="container">
		<div class="row ">
			<div class="col-lg-6">
				<div class="heading mb-50">
				<h2 class="mb-4">Companies we worked with </h2>
				<p>Here are the companies who have belief on us and on our valuable works 
				</p>
			</div>
		</div>
	</div>

    <div class="row justify-content-center">
		{% for imgslider in imgslider %}
		<div class="col-lg-2 col-md-3 col-sm-4">
		  <div class="award-img-block mb-4 mb-lg-0">
			<div class="award-img">
			  <img src="{{imgslider.img.url}}" alt="" class="img-fluid">
			</div>
		  </div>
		</div>	
		{% endfor %}		
	  </div>
  </div>
</section>

	<!--logo slider ends -->
	

<!--slider ends -->

<!-- footer Start -->
{% block footer %}



  {% endblock %}
  {% endblock %}

