{% extends "base.html" %}
{% load static %}
{% static "images" as baseUrl %}

{% block title %}Contact{% endblock %}

<!--header block -->

{% block header %}

<!-- contact form start -->

</div>
<div class="typing">
<p class="auto-type"></p>
</div>



<section id="contact">

<section class="section pricing cta-contact">
  <div class="container">
    <div class="row">
      <!-- Column for Google Map -->
      <div class="col-lg-6">
        <div class="google-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3789.7602298126058!2d-73.52364260874329!3d41.07042208236769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2a1b061343a3f%3A0x4423b4059f1d2113!2s12%20Center%20Terrace%2C%20Stamford%2C%20CT%2006906%2C%20USA!5e0!3m2!1sen!2sbd!4v1695569738620!5m2!1sen!2sbd" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      <!-- Column for Contact Form -->
      <div class="col-lg-6">
        <div class="contact-form-wrap">
          <form method="post" action="{% url 'contact' %}">
            {% csrf_token %}
            <!-- form message -->
            <div class="row">
              <div class="col-12">
                <div class="alert alert-success contact__msg" style="display: none" role="alert">
                  Your message was sent successfully.
                </div>
              </div>
            </div>
    
    
                  <div class="form-group">
                    <input name="name" id="name" type="text" class="form-control" placeholder="Your Name">
                  </div>
    
                  <div class="form-group">
                    <input name="email" id="email" type="email" class="form-control" placeholder="Email Address"><br>
                  </div>
    
                  <div class="form-group-2 mb-4">
                    <textarea  name="message" id="message" class="form-control" rows="4"
                      placeholder="Your Message" height></textarea  >
                  </div>
                  <input class="btn btn-main" name="submit" type="submit">
                </form>
              </div>
            </div>
          </div>
        </div>
        
    </section>
</section>

<section class="section service-2 team">  
  <div class="container"> 
  <div class="row" >
      {% for location in location %}      
      <div class="col-lg-4 col-md-6">
        <div class="contact-content pl-lg-5 mt-5 mt-lg-0 mb-5 mb-lg-0">
          <h4 class="mb-4">{{location.location_name}}</h4>

          <ul class="address-block list-unstyled">
            <li>
              <i class="ti-location-pin mr-3"></i>{{location.location}}
            </li>
            <li>
              <i class="ti-email mr-3"></i>Email:{{location.email}}
            </li>
            <li>
              <i class="ti-mobile mr-3"></i>Phone:{{location.phone}}
            </li>
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
  </div>
</section>

<!--slider ends -->
<!-- footer Start -->
{% block footer %}

<!--Essential Scripts -->
{% block Scripts %}


{% endblock %}
{% endblock %}
{% endblock %}
